:root {
  box-sizing: border-box;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

.container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  margin-top: 1em;
}

.container>div {
  border: 1px solid black;

  /* This is half the width of the body (480px) divided by 100 grid cells, which is the maximum, minus the 1px border */
  padding: calc((480px / 100) - 1px) calc((480px / 100) - 1px);
}

footer {
  margin-top: auto;
  padding: 2em 0;
  max-width: 100%;
}